@model CategoryViewModel 
@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>
<form asp-action="Add">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="parentCategoryId">Parent Category</label>
        <select asp-for="parentCategoryId" asp-items="ViewBag.ParentCategories" class="form-control">
            <option value="">-- Select Parent Category --</option>
        </select>
        <span asp-validation-for="parentCategoryId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Add Category</button>
</form>